@media (min-width: 768px) and (max-width :991px) {
    .container, .container-lg, .container-md, .container-sm {
        max-width: 1000px;
    }
}


@media (max-width :768px) {
    .midleft{
        display: flex;
        justify-content: center;
    }
     .midson{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
     .midson div:nth-child(2){
        font-size: 2rem;
    }
    .cnn {
        margin-top: 20px;
    }
}
