/* .container,.container-fluid{
    border: 1px solid black;
}

.row{
    border: 2px solid red;
}

.col{
    border: 2px solid green;
}

.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    border: 1px solid yellow;
} */



.subhead{
    font-size: 12px;
}


.navhead{
    font-size: 10px;
}

:hover.colhead{
    background-color: #9778e8;
    color: white;
}

.colhead{
    margin-left: 1px;
    cursor: pointer;
    padding-bottom: 4px;
}

.endhed{
    font-size: 12px;
}

.fe2{
    background-color: red;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: white;
}

.bdd{
    border-bottom: 1px solid rgb(202, 202, 202);
}

.ble{
    background: linear-gradient(to bottom right, #ffffff, #eaecee, #9c83dc);

}

.imgcen{
  border-radius: 25px;
   -webkit-mask-image: linear-gradient(to top right, transparent 10%, black 40%, black 60%, transparent 90%);
  mask-image: linear-gradient(to top right, transparent 10%, black 40%, black 60%, transparent 90%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.div1{
    font-size: 10px;
    font-weight: 200;
}

.div2{
    font-size: 40px;
}

.spn2{
    margin-left: 7px;
    color: #9778e8;
}

.div3{
    background-color: #9778e8;
    width: 105px;
    font-size: 13px;
    text-align: center;
    border-radius: 10px;
    color: white;
    margin-top: 14px;
    cursor: pointer;
}

.del{
    background-color: white;
    border-radius: 12px;
    padding: 5px 5px;
    font-size: 10px;
}

.c2{
    border: 1px solid #eae5e5;
    margin-left: 5px;
    border-radius: 3px;
    padding: 4px 5px;
}

.midtp{

    background: linear-gradient(to bottom right, #ffffff, #eaecee, #9c83dc);
    padding: 7px 0px;
    border-radius: 12px;
}

.ms{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    border: 2px solid #6846be;
    background-color: #c4b4ee;
    color: white;
    margin-left: 20px;
    border-radius: 30px;
    align-items: center;
}

.c33{
    display: flex;
    justify-content: center;
    color: red;
}
.nm{
    border: 1px solid black;
}

.pp{
    margin-right: 5px;
}


.pp2{
    color :#9778e8
}

.cc{
    font-weight: 500;
}

.inp{
   outline: none !important;
    border: 1px solid #eae5e5;
    width: 150px;

    border-radius: 4px;
    
}

#fromDate,#toDate{
   outline: none !important;
   width: 80px;
    outline: none !important;
    border-color: transparent !important;
    border: none;
    margin-left: 3px;
}

.dd{
    display: flex;
    align-items: center;
    font-size: 10px;
    border: 1px solid #eae5e5;;
    width: 250px;
    justify-content: center;
    padding: 2px;
    border-radius: 4px;
}

.sspp{
    margin-left: 8px;
}

.lll{
    font-weight: bold;
    text-align: center;
}

.line{
    width: 100%;
    border: 1px solid rgb(242, 240, 240);
}

.bdd{
    border: 1px solid black;
}

.cdside{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.bds2{
    display: flex;
    background: linear-gradient(to bottom right, #ffffff, #eaecee, #83d0dc);
    padding: 7px 0px;
    border-radius: 8px;
}

.bds1{
    width: 100%;
    margin-left: 20px;
    border: 1px solid rgb(238, 235, 235);
    border-radius: 22px;
}

.bds2 div{
    margin-left: 16px;
}

.rw{
    margin-left: 10px;
}

.spc{
    padding: 9px 3px;
    display: flex;
    align-items: center;
}

.mh{
    border-bottom: 1px solid rgb(205, 199, 199);
    margin-left: 1px;
    font-weight: 500;
}

.fle{
    display: flex;
    margin-left: 9px;
}


.fle div{
    width: 20px;
    height: 20px;
    border-radius: 25px;
    background-color: #eae5e5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
}

.bds2  :first-child {
    font-weight: bold;
}