
/* .nav1,.nav2,.nav3{
    border: 1px solid black;
} */

.col-6{
    border: 1px solid black;
}

*{
    margin: 0;
    padding: 0;
}

.itm{
    margin-right: 5px;
    font-size: 10px;
    display: flex;
    justify-content: center;
    padding: 5px 5px;
    border-radius: 10px;
    font-weight: 600;
}

.mdcol{
    background-color: rgb(234, 232, 231);
    margin: 5px 0px;
    padding: 5px;
    border-radius: 15px;
}

.itm:hover{
    background-color: rgba(0, 0, 255, 0.655);
    color: white;
    cursor: pointer;
    font-weight: 600;
}

.nav3{
    display: flex;
    justify-content: end;
}

.midtr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;    
    font-weight: 600;
}


.icons div:nth-child(3) {
    background-color: rgb(247, 63, 63);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    color: white;
}

.icons * {
    margin-right: 8px;
}

.lnav * {
    font-size: 10px;
}

.na{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 10px;
    margin-top: 5px;
}

.hash{
    font-weight: bolder;
    font-size: 14px;
    margin-right: 5px;
}


.nav1 > div{
    margin-right: 8px;
}

.nav1 span:nth-child(2){
    width: 50px;
}

.lnav div:nth-child(3){
    color: rgba(0, 0, 255, 0.655);
}

.hash{
     color: rgba(0, 0, 255, 0.655);
     font-weight: bolder;
}

.midRo{
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 10px;
    margin-left: 5px;
}

.midRo span:nth-child(2){
    color: blue;
    margin-left: 4px;
}

.midRo1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1px;
}
.bd{
    width: 100%;
    height: 100vh;  
    background: linear-gradient(to bottom right, #ffffff, #eaecee, #415be1);
}

.midson div:nth-child(1){
    font-weight: lighter;
}

.midson div:nth-child(2){
    font-weight: bolder;
    font-size: 2em;
}
.midson div:nth-child(2) span{
    color: #415be1;
}

.midson div:nth-child(3){
    background-color: #415be1;
    color: white;
    border-radius: 5px;
    padding: 3px 5px;
    width: 90px;
    margin-top: 10px;    
    text-align: center;
    font-size: 13px;
    cursor: pointer;
}

.midleft{
    display: flex;
    align-items: center;
}

.midRo1 div:nth-child(1){
    color: blue;
    font-weight: bolder;
}

.tpr{
     box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.2);
}

.tog{
    display: flex;
    font-size: 10px;
    margin-top: 5px;
    align-items: center;
    font-weight: 500;
}



/* Menu button */
.menu-btn {
  background: #007bff;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 1rem;
}

/* Overlay menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  animation: slideDown 0.3s ease;
}

/* Close button */
.close-btn {
  background-color: rgb(243, 240, 240);
  cursor: pointer;
  padding: 5px 0px;
}

.xx{
    /* background-color: white; */
    background-color: black;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
}

.mobitm{
     background: linear-gradient(to bottom right, #ffffff, #eaecee, #415be1);
}

.mobitmss{
    padding: 5px;
    font-weight: 600;
    font-size: 12px;
}

.mobitmss:hover{
    background-color:rgba(0, 0, 255, 0.655);
    color: white ;
    cursor: pointer;
}

.navitms div:nth-child(4){
    background-color: rgba(0, 0, 255, 0.655);
    color: white;
}

/* Optional animation */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.c2img > img{
    border-radius: 10px;
     -webkit-mask-image: linear-gradient(to top right, transparent 10%, black 40%, black 60%, transparent 90%);
  mask-image: linear-gradient(to top right, transparent 10%, black 40%, black 60%, transparent 90%);

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.c2img {
    padding: 40px;
}